<%= @listing.title %>
<% if current_user.id == @listing.user_id%>
    <%= link_to "edit", edit_listing_path(@listing.id) %>
<% end %>
<br />
<button data-stripe="payment">Pay Deposit <%= number_to_currency(@listing.deposit) %></button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>